<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/site_media/css/common.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="wrapper">

    <div id="header">
        {% block header %}
        <img src="/site_media/images/layout/title.png" alt="The BlackSword" />
        {% endblock %}
    </div>

    <div id="navigation">
        {% block navigation %}
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <h2>sidebar</h2>
        <ul>
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    </div>
</body>
</html>