h1
{
    font: 35px helvetica;
}

h2
{
    font: 25px helvetica;
    /*color: white;*/
}

p
{
    font: 12px helvetica;
    /*color: white;*/
}

body
{
    /*background-color: black;*/
}

#wrapper
{
    margin: 0 auto;
    width: 1024px;
    /*background-image: url('/site_media/images/layout/background.jpg'); */
    background-repeat: no-repeat;
    background-position: right top;
}

#header
{
    border-style: dashed;
    border-color: orange;
    border-width: 2px;
}

#navigation
{
    border-style: dashed;
    border-color: green;
    border-width: 2px;
    height: 60px;
}

#navigation ul
{
    list-style-type: none;
    float: right;
    padding-right: 20px;
}

#navigation li
{
    display: inline;
}

#sidebar
{
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    margin-right: 10px;
    float: left;
    height: 300px;
    width: 80px;
}

#content
{
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
}

#content h1
{
    margin-left: 10px;
}

#content fieldset
{
    margin-left: 10px;
    margin-bottom: 5px;
}
