
h1
{
    font: 35px helvetica;
}

h2
{
    font: 25px helvetica;
}

p
{
    font: 12px helvetica;
}

body
{
    background-color: black;
}

#wrapper
{
    margin: 0 auto;
    width: 1024px;
    background-image: url('/site_media/images/layout/background.jpg');
    background-repeat: no-repeat;
    background-position:right top;
}

#navigation
{
    height: 60px;
}

#navigation ul
{
    list-style-type: none;
    float: right;
}

#navigation li
{
    display: inline;
}

#sidebar
{
    border-style: dashed;
    border-width: 2px;

    margin-right: 10px;
    float: left;
    height: auto;
    width: 100px;
}

#content
{
    width: 100%;
}

#content h1
{
    margin-left: 10px;
}

#content fieldset
{
    margin-left: 10px;
    margin-bottom: 5px;
}

