h1
{
    font: 35px helvetica;
    color: white;
}

h2
{
    color: white;
    font: helvetica;
    font-size: 20px;
}

h3
{
    color: #ffcf0e;
    font: helvetica;
    font-size: 17px;
}

h4
{
    color: white;
    font: 15px helvetica;
    font-weight: bolder;

    background-image: url('/site_media/images/layout/h4-background.png');
    border-style: solid;
    border-color: #0d67ef;
    border-width: 1px;
    text-align: center;
}

p
{
    font: 12px helvetica;
    color: white;
}

body
{
    background-color: black;
}

#wrapper
{
    margin: 0 auto;
    width: 1024px;
}

#header
{
    border-style: dashed;
    border-color: orange;
    border-width: 2px;
}

#navigation
{
    border-style: dashed;
    border-color: green;
    border-width: 2px;
    height: 60px;
}

#navigation ul
{
    list-style-type: none;
    float: right;
    padding-right: 20px;
}

#navigation li
{
    display: inline;
}

#sidebar
{
    float: left;
    width: 200px;
    background-color: #0e0e0e;
    margin-right: 5px;
    border-style: solid;
    border-color: #c8c6c6;
    border-width: 1px;
}

#sidebar .upcoming-event
{
    margin-left: 10px;
    margin-right: 10px;
}

#content
{
    float: left;
    background-color: #0e0e0e;
    border-style: solid;
    border-color: #c8c6c6;
    border-width: 1px;
}

#content h1
{
    margin-left: 10px;
}

#content .blog-entry
{
    margin-left: 10px;
    margin-right: 10px;
}

#content hr
{
    color: #c8c6c6
}

